<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!--    //LINKI DO API  -->
    <script>
        const api_lecturer = "/api/v1/lecturer";
    </script>
    <script th:src="@{/js/src/script.js}"></script>
    <link th:href="@{/css/inputy.css}" rel="stylesheet" />
    <title>$Title$</title>
</head>
<body>
<div class="container-fluid inputView">
    <div class="row">
        <div class="col-xl-6 left">
            <div class="title">
                <h3>MagicPlanScheduler</h3>
            </div>
            <div class="image">
                <img th:src="@{/img/magnifier.png}" />
            </div>
            <div class="subtitle">
                <h2>Dodaj elementy do kalendarza!</h2>
            </div>
            <div class="desc">
                <p>Skorzystaj z narzędzi dostępnych po prawej stronie aby dopasować pola dostępne w kalendarzu do swoich potrzeb!</p>
            </div>
            <div class="return">
                <div class="arrow">
                    <img th:src="@{/img/ArrowLeft.png}" />
                </div>
                <div class="returnText">
                    <a href="http://localhost:8080/admin">Powrót do kalendarza</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 right">
            <div class="rightTitle">
                <h2>Wybierz komponent</h2>
            </div>
            <div class="MainContainer">
                <div class="buttons">
                    <input type="button" class="btn btn-outline-danger btnComp" id="addMeeting" value="Spotkania" name="button" />
                    <input type="button" class="btn btn-outline-danger btnComp" id="addLecturer" value="Wykładowcy" name="button" />
                    <input type="button" class="btn btn-outline-danger btnComp" id="addRoom" value="Sale" name="button" />
                    <input type="button" class="btn btn-outline-danger btnComp" id="addSubject" value="Przedmioty" name="button" />
                    <!-- <input type="button" class="btn btn-outline-danger btnComp" id="addGroup" value="Group" name="button" /> -->
                    <input type="button" class="btn btn-outline-danger btnComp" id="addNote" value="Notatki" name="button" />
                </div>
                <div id="SubjectContainer" class="inputElement">
                    <div class="elementHead">
                        <h3>Dodaj Subject</h3>
                    <label>Nazwa Przedmiotu</label>
                    <input type="text" class="form-control" id="getSubjectName" placeholder="nazwa" onkeypress="return allowOnlyNormal(event,this);">
                    <label>Rok Przedmiotu</label>
                    <select name="Year" class="form-control" id="getSubjectYear">
                        <option value = "ROK_I">Rok 1</option>
                        <option value = "ROK_II">Rok 2</option>
                        <option value = "ROK_III">Rok 3</option>
                        <option value = "ROK_IV">Rok 4</option>
                    </select>
                    <label>Liczba Godzin dla Przedmiotu</label>
                    <input type="text" class="form-control" id="getSubjectHours" placeholder="ilosc godzin" onkeypress="return allowOnlyNumbers(event,this);">
                    <div>
                        <button type="button" id="addGroupButton" class="btn btn-dark btnAdd">Dodaj Grupe</button>
                    </div>
                    <div>
                        <button type="button" id="getSubjectButton" class="btn btn-dark btnAdd">Dodaj</button>
                    </div>
                        <div>
                            <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalSubject" >Subject DT</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalGroup" >Group DT</button>
                        </div>
                    <div class="results" id="SubjectResult"></div>
                        <div class="results" id="GroupResult"></div>
                    </div>
                </div>
                <div id="LecturerContainer" class="inputElement">
                    <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalLecturer" >Dodaj</button>
                    <table id="LecturerTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Tytul</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!--
                <div id="GroupContainer" class="inputElement">
                        <h3>Dodaj Group</h3>
                        <label>Ilosc godzin dla przedmiotu</label>
                        <div class="inputField">
                            <input type="text" class="GroupElements" id="getGroupHours" placeholder="30">
                        </div>
                        <label>Nazwa Grupy</label>
                        <select name="GroupName" class="GroupElements" id="getGroupName">
                            <option>Grupa 1</option>
                            <option>Grupa 2</option>
                            <option>Grupa 3</option>
                            <option>Grupa 4</option>
                            <option>Grupa 5</option>
                            <option>Grupa 6</option>
                        </select>
                        <label>Rozmiar Grupy</label>
                        <div class="inputField">
                            <input type="text" class="GroupElements" id="getGroupSize" placeholder="50">
                        </div>
                        <label>Typ Grupy</label>
                        <select name="GroupType" class="GroupElements" id="getGroupType">
                            <option>WYKLAD</option>
                            <option>LAB</option>
                            <option>NIEST</option>
                        </select>
                        <label>Rok Studiów</label>
                        <select name="Year" class="GroupElements" id="getGroupYear">
                            <option>ROK_I</option>
                            <option>ROK_II</option>
                            <option>ROK_III</option>
                            <option>ROK_IV</option>
                        </select>
                        <label>Wykładowca grupy</label>
                        <div id="SelectGroupLecturer" class="test1">
                            <select id="selectLec" class="form-select display">
                                <option value = ""></option>
                            </select>
                        </div>
                        <label>Sala Grupy</label>
                        <div id="SelectGroupRoom" class="test2">
                            <select id="selectRm" class="form-select display">
                                <option value = ""></option>
                            </select>
                        </div>
                        -->
                <!--
                   <div class="GroupElements">
                       <h3>Dodaj Group</h3>
                       <label>Ilosc godzin dla przedmiotu</label>
                       <div class="inputField">
                           <input type="text" class="form-control" id="getGroupHours" placeholder="30">
                       </div>
                       <label>Nazwa Grupy</label>
                       <select name="GroupName" class="form-control" id="getGroupName">
                           <option>Grupa 1</option>
                           <option>Grupa 2</option>
                           <option>Grupa 3</option>
                           <option>Grupa 4</option>
                           <option>Grupa 5</option>
                           <option>Grupa 6</option>
                       </select>
                       <label>Rozmiar Grupy</label>
                       <div class="inputField">
                           <input type="text" class="form-control" id="getGroupSize" placeholder="50">
                       </div>
                       <label>Typ Grupy</label>
                       <select name="GroupType" class="form-control" id="getGroupType">
                           <option>Wykład</option>
                           <option>Ćwiczenia/Labolatoria</option>
                           <option>Przedmiot do Wyboru</option>
                       </select>
                       <label>Rok Studiów</label>
                       <select name="Year" class="form-control" id="getGroupYear">
                           <option>Rok 1</option>
                           <option>Rok 2</option>
                           <option>Rok 3</option>
                           <option>Rok 4</option>
                       </select>
                       <label>Wykładowca grupy</label>
                       <div id="SelectGroupLecturer" class="test">
                           <select id="selectLec" class="form-select display">
                               <option value = ""></option>
                           </select>
                       </div>
                       <label>Sala Grupy</label>
                       <div id="SelectGroupRoom" class="test">
                           <select id="selectRm" class="form-select display">
                               <option value = ""></option>
                           </select>
                       </div>
                    </div>
                </div>
                -->
                <div id="MeetingContainer" class="inputElement">
                    <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalMeeting" >Dodaj</button>
                    <table id="MeetingTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Poczatek Zjazdu</th>
                            <th>Koniec Zjazdu</th>
                        </tr>
                        </thead>
                    </table>
                    <input type="button" class="btn btn-outline-danger btnComp" id="removeMeetingButton" value="Usuń" name="button"/>
                </div>
                <div id="RoomContainer" class="inputElement">
                    <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalRoom" >Dodaj</button>
                    <table id="RoomTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Nazwa Sali</th>
                            <th>Pojemnosc Sali</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div id="NoteContainer" class="inputElement">
                    <button type="button" class="btn btn-dark btnAdd" data-bs-toggle="modal" data-bs-target="#myModalNote" >Dodaj</button>
                    <table id="NoteTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Tytul Notatki</th>
                            <th>Zawartosc Notatki</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  MODAL FOR LECTURER  -->
    <div class="modal" id="myModalLecturer">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="elementHead">
                    <h3>Dodaj Lecturer</h3>
                </div>
                <div>
                    <input type="text" class="form-control" id="getLecturerName" placeholder="Imie" onkeypress="return allowOnlyLetters(event,this);">
                    <input type="text" class="form-control" id="getLecturerLastName" placeholder="Nazwisko" onkeypress="return allowOnlyLetters(event,this);">
                    <select name="GroupType" class="form-control" id="getLecturerDegree">
                        <option>Inzynier</option>
                        <option>Magister</option>
                        <option>Doktor</option>
                        <option>Doktor Habilitowany</option>
                        <option>Profesor</option>
                    </select>
                </div>
                <button type="button" id="getLecturerButton" class="btn btn-dark btnAdd">Dodaj</button>
                <div class="results" id="LecturerResult"></div>
            </div>
        </div>
    </div>
    <!--  MODAL FOR Metting -->
    <div class="modal" id="myModalMeeting">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="elementHead">
                    <h3>Dodaj Metting</h3>
                </div>
                <div>
                    <p class="datePick">Początek zjazdu</p>
                    <input type="date" class="pickerSub" id="dateStart" />
                </div>
                <button type="button" id="getMeetingButton" class="btn btn-dark btnAdd">Dodaj</button>
                <div class="results" id="MeetingResult"></div>
            </div>
        </div>
    </div>
    <!--  MODAL FOR Room -->
    <div class="modal" id="myModalRoom">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="elementHead">
                    <h3>Dodaj Room</h3>
                </div>
                <div>
                    <input type="text" class="form-control" id="getRoomNumber" placeholder="Nazwa Sali" onkeypress="return allowOnlyNormal(event,this);">
                    <input type="text" class="form-control" id="getRoomSize" placeholder="Pojemnosc Sali" onkeypress="return allowOnlyNumbers(event,this);">
                </div>
                <button type="button" id="getRoomButton" class="btn btn-dark btnAdd">Dodaj</button>
                <div class="results" id="RoomResult"></div>
            </div>
        </div>
    </div>
    <!--  MODAL FOR Note -->
    <div class="modal" id="myModalNote">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="elementHead">
                    <h3>Dodaj Room</h3>
                </div>
                <div>
                    <input type="text" class="form-control" id="getNoteTitle" placeholder="Tytuł Notatki" onkeypress="return allowOnlyNormal(event,this);">
                    <input type="text" class="form-control" id="getNoteInput" placeholder="Tresc Notatki" onkeypress="return allowOnlyNormal(event,this);">
                </div>
                <button type="button" id="getNoteButton" class="btn btn-dark btnAdd">Dodaj</button>
                <div class="results" id="NoteResult"></div>
            </div>
        </div>
    </div>

    <!-- DATATABLES FOR SUBJECT -->
    <div class="modal" id="myModalSubject">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <table id="SubjectTable" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Nazwa Przedmiotu</th>
                        <th>Rok Przedmiotu</th>
                        <th>Liczba Godzin</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- DATATABLES FOR Groups -->
    <div class="modal" id="myModalGroup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <table id="GroupTable" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Ilosc godzin</th>
                        <th>Nazwa Grupy</th>
                        <th>Rozmiar Grupy</th>
                        <th>Typ Grupy</th>
                        <th>Rok Grupy</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

    <!-- Group Container --->
    <div class="container-fluid groupBody">
        <div class="row">
            <div class="col-xl-12 bodyContent">
                <div id="GroupContainer" class="inputElement"> </div>
            </div>
        </div>
    </div>

</body>
</html>